class occupy memory
and you should start the name of class with capital letters

In [1]:
class Employee:
    pass
print(Employee)

<class '__main__.Employee'>

two object with two different address

In [3]:
class Employee:
    pass
print(Employee())
print(Employee())

<__main__.Employee object at 0x00000179F05696D0>
<__main__.Employee object at 0x00000179F05C0990>

same address

In [6]:
class Employee:
    pass
a=Employee()
print(a)
print(a)

<__main__.Employee object at 0x00000179F0552B10>
<__main__.Employee object at 0x00000179F0552B10>

name is for class but age is for object

In [9]:
class Employee:
    name='ali'
    def __init__(self):
        self.age=29
    
print(Employee.name)

ali

In [10]:
class Employee:
    name='ali'
    def __init__(self):
        self.age=29
    
print(Employee.age)

AttributeError: type object 'Employee' has no attribute 'age'

In [11]:
class Employee:
    name='ali'
    def __init__(self):
        self.age=29
a=Employee()  
print(a.age)

29

In [14]:
class Employee:
    name='ali'
    def __init__(self,age):
        self.age=age
a=Employee(29)  
print(a.name,a.age)

ali 29

In [17]:
class Employee:
    name='ali'
    def __init__(self,age,name):
        self.age=age
        self.name=name
a=Employee(29,"hasan")  
print(a.name,a.age)

hasan 29

In [18]:
class Employee:
    name='ali'
    def __init__(self,age,name):
        self.age=age
        self.name=name
a=Employee(29,"hasan")  
b=Employee(31)
print(a.name,a.age)
print(b.name,b.age)

TypeError: Employee.__init__() missing 1 required positional argument: 'name'

In [21]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name

a=Employee(29,"hasan")  
b=Employee(31,"ali")
print(a.name,a.salary)
print(b.name,b.salary)
Employee.salary=Employee.salary*1.7
print(a.name,a.salary)
print(b.name,b.salary)

hasan 3000
ali 3000
hasan 5100.0
ali 5100.0

In [22]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name

a=Employee(29,"hasan")  
b=Employee(31,"ali")
print(a.name,a.salary)
print(b.name,b.salary)
a.salary=a.salary*1.7
print(a.name,a.salary)
print(b.name,b.salary)

hasan 3000
ali 3000
hasan 5100.0
ali 3000

when we write metod without self then we can use it with class

In [24]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def hello():
        return "hello"
print(Employee.hello())

hello

we can same method in class our outside the class

In [25]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def hello():
        return "hello"
def hello():
    return "hi"

print(Employee.hello(),hello())

hello hi

In [29]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def hello():
        return "hello"
a=Employee(29,"hasan") 
print(a.hello())

TypeError: Employee.hello() takes 0 positional arguments but 1 was given

we should use self if we want to use it for object

In [28]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def hello(self):
        return "hello"
a=Employee(29,"hasan") 
print(a.hello())

hello

In [31]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def introduce(self):
        return f"my name is {self.name}"
a=Employee(29,"hasan") 
print(a.introduce())

my name is hasan

In [32]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def introduce(self,hobby):
        return f" I LIKE  {hobby}"
a=Employee(29,"hasan") 
print(a.introduce("readig book"))

 I LIKE  readig book

Magic methods in Python are the special methods that start and end with the double underscores. They are also called dunder methods. Magic methods are not meant to be invoked directly by you, but the invocation happens internally from the class on a certain action. For example, when you add two numbers using the + operator, internally, the __add__() method will be called.

Built-in classes in Python define many magic methods. Use the dir() function to see the number of magic methods inherited by a class. For example, the following lists all the attributes and methods defined in the int class.

In [1]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [2]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
print(dir(Employee))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'salary']

In [6]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
print(Employee.__str__)

<slot wrapper '__str__' of 'object' objects>

In [7]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
a=Employee(23,"hasan")
print(a.__str__())

<__main__.Employee object at 0x00000208127DBF10>

In [9]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def __str__(self):
        return "this is an object from employee class"
a=Employee(23,"hasan")
print(a.__str__())

this is an object from employee class

In [11]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
a=Employee(23,"hasan")
b=Employee(40,"hesam")
print(a+b)

TypeError: unsupported operand type(s) for +: 'Employee' and 'Employee'

In [12]:
class Employee:
    salary=3000
    def __init__(self,age,name):
        self.age=age
        self.name=name
    def __add__(self,other):
        return self.age+other.age
a=Employee(23,"hasan")
b=Employee(40,"hesam")
print(a+b)

63

https://www.javatpoint.com/python-magic-method
https://www.tutorialsteacher.com/python/magic-methods-in-python#:~:text=Magic%20methods%20in%20Python%20are,class%20on%20a%20certain%20action.
https://rszalski.github.io/magicmethods/

کلاسی بنویسید

با نام
Dog 
که نام و سن را به عنوان ورودی دریافت کند.
درون این کلاس یک
class variable
بسازید که با هر بار ساخته‌شدن یک 
instance
یک واحد به آن اضافه شود و نام این متغیر را
quantity 
بنامید.

In [18]:
class Dog:
    quantity=0
    def __init__(self,name,age):
        self.age=age
        self.name=name
        Dog.quantity=Dog.quantity+1
        
        
bulldog = Dog("Sammy",3) 
print(Dog.quantity)
hosky = Dog("Alex",5)
print(Dog.quantity)

1
2

In [ ]:
#Inheritance

In [22]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"
person1=Person("melika","abedi")
print(person1.fullname())
class Employee:
    def __init__(self,first_name,last_name,posion):
        self.first_name=first_name
        self.last_name=last_name
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
employee1=Employee("melika","abedi","cto")
print(employee1.job())

melika  abedi
 i am melika  abedi in cto posion

In [24]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"
class Salary:
    salary=2000
class Employee(Salary):
    def __init__(self,first_name,last_name,posion):
        self.first_name=first_name
        self.last_name=last_name
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
employee1=Employee("melika","abedi","cto")
print(employee1.salary)

2000

In [25]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    def __init__(self,first_name,last_name,posion):
        self.first_name=first_name
        self.last_name=last_name
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
employee1=Employee("melika","abedi","cto")
print(employee1.job())

 i am melika  abedi in cto posion

can we delete firs name and last name in employee?

In [26]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    def __init__(self,posion):
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
employee1=Employee("melika","abedi","cto")
print(employee1.job())

TypeError: Employee.__init__() takes 2 positional arguments but 4 were given

In [30]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    def __init__(self,first_name,last_name,posion):
        Person.__init__(self,first_name,last_name)
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
employee1=Employee("melika","abedi","cto")
print(employee1.job())

 i am melika  abedi in cto posion

or we can use super instead of name of parent class

In [34]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    def __init__(self,first_name,last_name,posion):
        super().__init__(first_name,last_name)
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
employee1=Employee("melika","abedi","cto")
print(employee1.job())

 i am melika  abedi in cto posion

In [36]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    salary=3000
    def __init__(self,first_name,last_name,posion):
        super().__init__(first_name,last_name)
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "

class Cto(Employee):
    salary=6000
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in cto posion  "
employee1=Employee("melika","abedi","marketing")
employee2=Cto("melika","abedi","marketing")
print(employee1.job()) 
print(employee1.salary)
print(employee2.job()) 
print(employee2.salary)

 i am melika  abedi in marketing posion
3000
 i am melika  abedi in cto posion
6000

In [39]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    salary=3000
    def __init__(self,first_name,last_name,posion):
        super().__init__(first_name,last_name)
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
class Manager():
    def authority(self):
        return "can fire"
class Cto(Employee,Manager):
    salary=6000
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in cto posion  "
employee1=Cto("melika","abedi","cto")
print(employee1.authority())

can fire

In [49]:
class Person:
    def __init__(self,first_name,last_name):
        self.first_name=first_name
        self.last_name=last_name
    def fullname(self):
        return f"{self.first_name}  {self.last_name}"

class Employee(Person):
    salary=3000
    def __init__(self,first_name,last_name,posion):
        super().__init__(first_name,last_name)
        self.posion=posion
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in {self.posion} posion  "
class Manager():
    def authority(self):
        return "can fire"
class Cto(Employee,Manager):
    def __init__(self,first_name,last_name,posion):
        super().__init__(first_name,last_name,posion)
        self.posion="cto"
    salary=6000
    def job(self):
        return f" i am {self.first_name}  {self.last_name} in cto posion  "
employee1=Cto("melika","abedi","cto")
print(employee1.authority())

can fire